@import "tailwindcss";

@theme {
  --color-discord-bg: #36393f;
  --color-discord-sidebar: #2f3136;
  --color-discord-element: #202225;
  --color-discord-accent: #7289da;
  --color-discord-green: #43b581;
  --color-discord-red: #f04747;
  --color-discord-gray: #b9bbbe;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #36393f;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
